:root{
    --white-color: #fff;
    --black-color:#000;
    --light-gray: #F1F1F1;
    --gray-color: #CCCCCC;
    --heavy-gray-color:#616161;
    --background-color:#F5F7F8;
    --primary-color: #F44336;
    --primary-hover: #FF5722;
}